.cart {

    padding-bottom: 2rem;

    &__main {
        padding: 2rem;
    }

    &__total-container {
        text-align: right;
        width: fit-content;
        margin: 2rem 0 2rem auto;
        div {
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            .cart__total-label {
                width: 10rem;
                margin-right: 1rem;
                font-weight: bold;
            }
        }

        a {
            margin-top: 1rem;
            color: $color-grey-dark-4;
        }
    }

    &__payment{

        .same {
            input {
                margin-right: 1rem;
            }
        }

        form {
            padding: 0 2rem;
            display: flex;
            gap: 2rem;
            @media only screen and (max-width: $bp-medium) {
                flex-direction: column;
            }
        }

        form > div {
            flex: 1;
            padding: 2rem;
            border-radius: 5px;
            box-shadow: $shadow;
            background: $color-secondary-light;
            font-size: 1.4rem;

            div {
                margin: 1rem 0;
                label {
                    display: inline-block;
                    width: 12rem ;
                    @media only screen and (max-width: $bp-smallest) {
                        display: block;
                        text-align: center;
                        width: 100%;
                    }
                }

                input {
                    font-family: inherit;
                    padding: .5rem 1rem;
                    border-radius: 3px;
                    @media only screen and (max-width: $bp-smallest) {
                        width: 100%;
                        text-align: center;
                    }
                }

                .error {
                    margin-top: .5rem;
                    margin-left: 12rem;
                    color: rgb(255, 40, 40);
                    @media only screen and (max-width: $bp-smallest) {
                        margin-left: 0;
                        text-align: center;
                    }
                }
                #exp_month {
                    width: 8rem;
                }
                #exp_year {
                    width: 8rem;
                }
            }
        }

        .btn-primary {
            display: block;
            margin-left: auto;
            @media only screen and (max-width: $bp-smallest) {
                width: 100%;
            }
        }
    }
}