
.heading-1 {
    font-size: 3rem;
    font-weight: 700;
}

.heading-2 {
    font-size: 1.8rem;
    font-weight: 700;
}

.cart_count {
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 2rem;
    color: $color-grey-light-1;
}

.text-right { text-align: right !important; }

.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.mt-1 { margin-top: 1rem !important; }
.mt-2 { margin-top: 2rem !important; }
.mt-3 { margin-top: 3rem !important; }

.mr-3 { margin-right: 1rem !important; }

.fw-500 {
    font-weight: 500 !important;
}
.fw-bold {
    font-weight: bold !important;
}

.fs-sm {
    font-size: 1.3rem;
}

.fs-md {
    font-size: 1.6rem;
}

.fs-lg {
    font-size: 2rem;
}

.btn-primary, 
.btn-danger, 
.btn-light,
.btn-blue
{
    padding: .7rem 2rem;
    border-radius: 5px;
    box-shadow: $shadow;
    border: none;
    color: $color-grey-light-1;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.4rem;
}

.btn-primary {
    background: $color-primary;
}

.btn-danger {
    background: $color-red;
}

.btn-light {
    background: $color-grey-light-1;
    color: $color-grey-dark-1;
}

.btn-blue {
    background: rgb(38, 154, 201);
}

.error {
    color: $color-red;
}