.modal {
    max-width: 600px;
    width: 90%;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: relative;
    background: $color-secondary;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: $shadow;
}

.form {
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__main {
        margin: 2rem 0;
        > div {
            margin: 1rem 0;
            display: flex;
            font-weight: 500;

            label {
                display: inline-block;
                width: 17rem;
                font-size: 1.4rem;
            }

            select, input, textarea {
                padding: .5rem;
            }

            > *:nth-child(2){
                flex: 1;
                font-family: inherit;
                border-radius: 0;
                font-size: 1.5rem;
                font-weight: 600;
                > div {
                    border-radius: 0;
                    color: $color-grey-dark-1;
                }
            } 
        }
    }

    &__footer {
        text-align: right;
        .btn-danger {
            margin-right: 1rem;
        }
    }
}

.delete_form {
    p {
        text-align: center;
        font-size: 1.5rem;
        span {
            font-weight: bold;
        }
        margin-bottom: 2rem;
    }

    &__footer {
        display: flex;
        gap: 5rem;
        justify-content: center;
    }
}

.customOption {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;

    div {
        .btn-blue {
            margin-right: .5rem;
        }
    }
}

.ReactModal__Overlay {
    background: rgba($color-grey-dark-4, .8) !important;
}