.table {
    overflow: auto;

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    img {
        width: 7.5rem;
        height: 7.5rem;
    }

    tr, th {
        border: 2px solid $color-grey-dark-4;
    }

    &__heading {
        background: $color-grey-dark-4;
        font-size: 1.6rem;
        th {
            padding: 1rem;
        }
    }   
     
    tbody {
        tr:nth-child(odd) {
            background: $color-grey-dark-3;
        }
    }


    &__quantity {
        width: 30%;
        text-align: center;

        form {
            display: flex;
            gap: 1rem;
        }
    }

    &__quantity-input {
        background: none;
        border: none;
        border-bottom: 2px solid $color-primary;
        padding: .3rem;
        font-family: inherit;
        color: $color-grey-light-1
    }

    &__status {
        select {
            padding: .5rem 1.5rem;
            font-family: inherit;
        }
    }

    td {
        font-size: 1.6rem;
        padding: 1rem 1rem;
    }
}